Repository magento/inventory, pull requests merged in 2018-08, with the labels that each got.

#1514 MSI-1504: added check if website exist when saving the stock
  app/code/Magento/InventoryApi/Test/Api/StockRepository/ValidationTest.php
  app/code/Magento/InventorySales/Model/Stock/Validator/SalesChannelsValidator.php
Labels: Award: special achievement, QA Passed

#1447 MSI-1446: Fix typo "Notify Quantity Use default".
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/view/adminhtml/ui_component/product_form.xml
Labels: Bugfixing, current sprint

#1519 MSI-1518: MFTF Admin user apply mass action 'Transfer Inventory To Source' on Products grid to several simple products with stock status 'Out of stock' on source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminTransferInventoryToSourcePageSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminMassActionTransferInventoryToSourceForSimpleProductsWithOutOfStockStatusOnSourceTest.xml
Labels: MFTF (Functional Test Coverage)

#1521 MSI-1520: MFTF Admin user apply mass action 'Transfer Inventory To Source' on Products grid to different types of products with stock status 'Out of stock' on source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminTransferInventoryToSourcePageSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminMassActionTransferInventoryToSourceForDifferentTypeOfProductsWithOutOfStockStatusOnSourceTest.xml
Labels: MFTF (Functional Test Coverage)

#1525 MSI-1522: MFTF Notify Quantity transferring when admin user apply mass action 'Transfer Inventory To Source' on Products grid to several simple products
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminTransferInventoryToSourcePageSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminMassActionTransferInventoryToSourceTransferringNotifyQuantityForSimpleProductsTest.xml
Labels: MFTF (Functional Test Coverage)

#1585 Failed MFTF tests
  app/code/Magento/Inventory/Test/Mftf/Test/AdminCanSetOnlyXLeftThresholdForVirtualProductWithTestSourceTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminCanSetOnlyXLeftTresholdForVirtualProductWithDefaultSourceTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminCreateVirtualProductOnSingleStockModeTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminCreateVirtualProductWithDefaultSourceTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminManageStockForVirtualProductIsDisabledTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminOutOfStockThresholdOnVirtualProductPageTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminSourceCodeShouldNotBeEditableTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminUseDecimalQuantityOnSimpleProductTest.xml
  app/code/Magento/Inventory/Test/Mftf/Test/AdminVirtualProductDisabledManageStockOnCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AssignSourceToProductActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AssignSourceToStockActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/MsiProductData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserApplyOnlyXLeftThresholdForSimpleProductOnTestSourceTest.xml
  app/code/Magento/InventoryCatalogAdminUi/Test/Mftf/Test/AdminCreateOrderWithSimpleProductFromTestSourceWithBackordersTest.xml
  app/code/Magento/InventoryCatalogAdminUi/Test/Mftf/Test/AdminCreateOrderWithVirtualProductFromTestSourceWithBackordersTest.xml
  dev/tests/acceptance/tests/functional/Magento/FunctionalTest/SampleTests/Test/CreateConfigurableProductByApiTest.xml
Labels: MFTF (Functional Test Coverage)

#1538 MSI-1528: MFTF Admin user apply "Only X left Treshhold' for Simple product on Test source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserApplyOnlyXLeftThresholdForSimpleProductOnTestSourceTest.xml
Labels: MFTF (Functional Test Coverage), approved

#1592 MSI-1590: Use Array Key as Sku due to change in array structure
  app/code/Magento/InventoryCatalog/Model/ResourceModel/GetProductTypesBySkus.php
  app/code/Magento/InventoryCatalog/Model/SourceItemsSaveSynchronization/SetDataToLegacyCatalogInventory.php
  app/code/Magento/InventoryImportExport/Plugin/Import/SourceItemImporter.php
  app/code/Magento/InventoryImportExport/Test/Integration/Model/Import/ProductTest.php
  app/code/Magento/InventoryImportExport/Test/Integration/Model/Import/_files/product_import.csv
  app/code/Magento/InventoryImportExport/Test/Integration/Model/Import/_files/product_import_updated_qty.csv
  app/code/Magento/InventoryImportExport/Test/Integration/Model/StockItemImporterTest.php
Labels: Top 10 Bugs

#1549 MSI-1547: Inconsistent menu names in backoffice
  app/code/Magento/InventoryAdminUi/etc/adminhtml/menu.xml
  app/code/Magento/InventoryApi/etc/acl.xml
Labels: QA Passed

#1554 MSI-1552: MFTF Backorders enabled on Configuration page and applied from Homepage to Simple product on Single Stock mode
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnConfigurationPageAndAppliedToSimpleProductOnSingleStockModeTest.xml
Labels: MFTF (Functional Test Coverage)

#1556 MSI-1555: Backorders enabled on Configuration page and applied from Homepage to Simple product on Default source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnConfigurationPageAndAppliedToSimpleProductOnDefaultSourceTest.xml
Labels: MFTF (Functional Test Coverage)

#1558 MSI-1557: Backorders enabled on Configuration page and applied from Homepage to Simple product on Test source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnConfigurationPageAndAppliedToSimpleProductOnTestSourceTest.xml
Labels: MFTF (Functional Test Coverage)

#1560 MSI-1559: Backorders enabled on Product page and applied from Homepage to Simple product on Single Stock mode
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnProductPageAndAppliedToSimpleProductOnSingleStockModeTest.xml
  app/code/Magento/InventoryCatalog/Test/Mftf/Section/AdminAdvancedInventorySection.xml
Labels: MFTF (Functional Test Coverage)

#1566 MSI-1564: Backorders enabled on Product page and applied from Homepage to Simple product on Default source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnProductPageAndAppliedToSimpleProductOnDefaultSourceTest.xml
  app/code/Magento/InventoryCatalog/Test/Mftf/Section/AdminAdvancedInventorySection.xml
Labels: MFTF (Functional Test Coverage)

#1567 MSI-1565: Backorders enabled on Product page and applied from Homepage to Simple product on Test source
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/BackordersEnabledOnProductPageAndAppliedToSimpleProductOnTestSourceTest.xml
  app/code/Magento/InventoryCatalog/Test/Mftf/Section/AdminAdvancedInventorySection.xml
Labels: MFTF (Functional Test Coverage)
