Repository magento/inventory, pull requests merged in 2019-06, with the labels that each got.

#2291 MSI-2284-Rely-only-on-Sales-Channels-in-Store-Pickup-APIs.
  app/code/Magento/InventoryInStorePickup/Model/GetIsAnyPickupLocationAvailable.php
  app/code/Magento/InventoryInStorePickup/Model/GetNearbyPickupLocations.php
  app/code/Magento/InventoryInStorePickup/Model/GetPickupLocationsAssignedToSalesChannel.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetIsAnyPickupLocationAvailableTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetNearbyPickupLocationsOfflineTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocationsAssignedToSalesChannelTest.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/Api/GetIsAnyPickupLocationAvailableInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbyPickupLocationsInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetPickupLocationsAssignedToSalesChannelInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetPickupLocationsAssignedToStockOrderedByPriorityInterface.php
  app/code/Magento/InventoryInStorePickupApi/composer.json
  app/code/Magento/InventoryInStorePickupApi/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/etc/webapi.xml
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Validation/SalesChannelValidator.php
Labels: Partner: ISM eCompany, Store Pickup, partners-contribution

#2267 Msi 2182 source entity expansion with pickup location attributes
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/CreateFromSource.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/PreProcessor/FrontendName.php
  app/code/Magento/InventoryInStorePickup/Model/Source/InitPickupLocationExtensionAttributes.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetListPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/SaveInStorePickupPlugin.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/InventorySourceExtensionTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/pickup_location_rollback.php
  app/code/Magento/InventoryInStorePickup/etc/db_schema.xml
  app/code/Magento/InventoryInStorePickup/etc/db_schema_whitelist.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/etc/extension_attributes.xml
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/web/js/form/components/fieldset.js
  app/code/Magento/InventoryInStorePickupApi/Api/Data/PickupLocationInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper/CreateFromSourceInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper/PreProcessorInterface.php
Labels: Partner: ISM eCompany, Store Pickup, needs update, partners-contribution

#2317 Store pickup cleanup
  app/code/Magento/InventoryInStorePickup/Model/GetIsAnyPickupLocationAvailable.php
  app/code/Magento/InventoryInStorePickup/Model/GetPickupLocationsAssignedToSalesChannel.php
  app/code/Magento/InventoryInStorePickup/Model/Order/GetPickupLocationCode.php
  app/code/Magento/InventoryInStorePickup/Model/Order/IsFulfillable.php
  app/code/Magento/InventoryInStorePickup/Model/Source/GetIsPickupLocationActive.php
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetSourceItemQtyAvailableService.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/Sales/Order/SavePickupLocationForOrderPlugin.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocationsAssignedToSalesChannelTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/IsOrderReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/NotifyOrderIsReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/add_products_from_eu_stock_to_cart.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_multiple_quotes_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order_rollback.php
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/Api/Data/PickupLocationInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/Validation/RequestValidatorChain.php
Labels: Partner: ISM eCompany, Store Pickup, Test Coverage: N/A, partners-contribution

#2312 #2066 Test to cover reported issue with reassign MSI source
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AssignSourceToProductActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/UnassignSourceFromProductActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateSimpleProductReassignSource.xml
Labels: Partner: Strix, partners-contribution

#2316 Cover-functional-tests msi-1318
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerOrderedGroupedProductWithChildProductsAssignedToDefaultStockFromHomepageTest.xml
Labels: needs update

#2307 Msi 2283 simplify source mapper api
  app/code/Magento/InventoryInStorePickup/Model/Address.php
  app/code/Magento/InventoryInStorePickup/Model/Convert/ToSourceSelectionAddress.php
  app/code/Magento/InventoryInStorePickup/Model/GetNearbyPickupLocations.php
  app/code/Magento/InventoryInStorePickup/Model/GetPickupLocationsAssignedToSalesChannel.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/CreateFromSource.php
  app/code/Magento/InventoryInStorePickup/Model/SearchCriteria.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetNearbyPickupLocationsOfflineTest.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupApi/Api/Data/AddressInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/Data/SearchCriteriaInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbyPickupLocationsInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/MapperInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper/CreateFromSourceInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/SearchCriteriaBuilder.php
  app/code/Magento/InventoryInStorePickupApi/etc/di.xml
  app/code/Magento/InventoryInStorePickupApi/etc/webapi.xml
Labels: Partner: ISM eCompany, Store Pickup, Test Coverage: Partial, partners-contribution

#2333 Throw appropriate exception when sku does not exist.
  app/code/Magento/InventorySales/Model/GetProductSalableQty.php
Labels: Partner: Webjump, Ready for QA, partners-contribution

#2334 In-Store Pickup orders adjustments in Admin Panel #2285.
  app/code/Magento/InventoryInStorePickup/Model/IsStorePickupOrder.php
  app/code/Magento/InventoryInStorePickup/Model/NotifyOrderIsReadyForPickup.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupAdminUi/Block/Adminhtml/Order/View/ReadyForPickup.php
  app/code/Magento/InventoryInStorePickupAdminUi/Model/IsDisplayReadyForPickupButton.php
  app/code/Magento/InventoryInStorePickupAdminUi/Model/IsRenderReadyForPickupButton.php
  app/code/Magento/InventoryInStorePickupAdminUi/Plugin/Sales/Order/View/ShippingAddress/HideEditLink.php
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/di.xml
  app/code/Magento/InventoryInStorePickupApi/Api/IsStorePickupOrderInterface.php
Labels: Auto-Tests: Not Covered, Partner: ISM eCompany, Store Pickup, needs update, partners-contribution

#2308 In-Store Pickup - Shipping Pricing
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Command/GetFreePackages.php
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Command/GetShippingPrice.php
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Command/GetShippingPriceRequest.php
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/ShippingPriceRequest.php
  app/code/Magento/InventoryInStorePickupShipping/README.md
  app/code/Magento/InventoryInStorePickupShipping/composer.json
  app/code/Magento/InventoryInStorePickupShipping/etc/di.xml
  app/code/Magento/InventoryInStorePickupShipping/etc/module.xml
  app/code/Magento/InventoryInStorePickupShippingApi/Api/Data/ShippingPriceRequestInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/Command/GetFreePackagesInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/Command/GetShippingPriceInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/Command/GetShippingPriceRequestInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/InStorePickup.php
Labels: Partner: ISM eCompany, Store Pickup, partners-contribution

#2338 [store pickup] fixed some code style
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/PreProcessor/FrontendName.php
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetActiveStorePickupOrdersBySource.php
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetOrderItemsByOrdersListAndSku.php
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Validation/SalesChannelValidator.php
Labels: Store Pickup

#2266 MSI-2151+2152: [UI Love for Assigned Sources]
  app/code/Magento/InventoryCatalogAdminUi/view/adminhtml/ui_component/product_form.xml
Labels: Community Insider: Elogic, QA Passed, community-insider-contribution

#2337 Export Stock Api dump-stock-index-data for different types of products Automation
  app/code/Magento/InventoryCatalog/Test/_files/product_downloadable_source_item_on_additional_source.php
  app/code/Magento/InventoryCatalog/Test/_files/product_downloadable_source_item_on_additional_source_rollback.php
  app/code/Magento/InventoryExportStockApi/Test/Api/ExportStockIndexDataTest.php
  app/code/Magento/InventoryExportStockApi/Test/Api/ExportStockSalableQtyTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeBundleProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeConfigurableProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeDownloadableProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeGroupedProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeSimpleProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateMultiStockModeVirtualProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateSingleStockModeBundleProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateSingleStockModeConfigurableProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateSingleStockModeDownloadableProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateSingleStockModeSimpleProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderCreateSingleStockModeVirtualProductTest.php
  app/code/Magento/InventorySales/Test/Api/OrderPlacementBase.php
Labels: Cleanup, WIP, needs update
