Repository magento/inventory, pull requests merged in 2019-11, with the labels that each got.

#2683 MSI-2677: Timestamp of customer notification (when Ready for Pickup was clicked) should be displayed in order details.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/SimpleProductWithZeroQtyAndInStockStatusOnDefaultSourceIsVisibleOnHomePageIfBackordersEnabledOnConfigurationPageTest.xml
  app/code/Magento/InventoryInStorePickup/Model/NotifyOrderIsReadyForPickup.php
  app/code/Magento/InventoryInStorePickup/Model/Order/AddCommentToOrder.php
  app/code/Magento/InventoryInStorePickupQuote/etc/fieldset.xml
Labels: QA Passed, Store Pickup

#2696 Cache repetetive database queries in inventory
  app/code/Magento/Inventory/Model/Source/Command/GetSourcesAssignedToStockOrderedByPriorityCache.php
  app/code/Magento/Inventory/etc/di.xml
  app/code/Magento/InventoryCatalog/Model/GetProductIdsBySkusCache.php
  app/code/Magento/InventoryCatalog/Model/ResourceModel/GetProductTypesBySkusCache.php
  app/code/Magento/InventoryCatalog/etc/di.xml
  app/code/Magento/InventoryConfiguration/Plugin/InventoryConfiguration/Model/GetLegacyStockItemCache.php
  app/code/Magento/InventoryConfiguration/etc/di.xml
  app/code/Magento/InventoryIndexer/Model/ResourceModel/GetStockItemDataCache.php
  app/code/Magento/InventoryIndexer/etc/di.xml
  app/code/Magento/InventoryReservations/Model/ResourceModel/GetReservationsQuantityCache.php
  app/code/Magento/InventoryReservations/etc/di.xml
  app/code/Magento/InventorySales/Model/GetAssignedSalesChannelsForStockCache.php
  app/code/Magento/InventorySales/Model/GetStockBySalesChannelCache.php
  app/code/Magento/InventorySales/etc/di.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/etc/di.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/etc/module.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/registration.php
Labels: Progress: approved

#2699 magento/inventory#2496: Cache repetitive database queries
  app/code/Magento/Inventory/Model/Source/Command/GetSourcesAssignedToStockOrderedByPriorityCache.php
  app/code/Magento/Inventory/etc/di.xml
  app/code/Magento/InventoryCatalog/Model/GetProductIdsBySkusCache.php
  app/code/Magento/InventoryCatalog/Model/ResourceModel/GetProductTypesBySkusCache.php
  app/code/Magento/InventoryCatalog/etc/di.xml
  app/code/Magento/InventoryConfiguration/Plugin/InventoryConfiguration/Model/GetLegacyStockItemCache.php
  app/code/Magento/InventoryConfiguration/etc/di.xml
  app/code/Magento/InventoryIndexer/Model/ResourceModel/GetStockItemDataCache.php
  app/code/Magento/InventoryIndexer/etc/di.xml
  app/code/Magento/InventoryReservations/Model/ResourceModel/GetReservationsQuantityCache.php
  app/code/Magento/InventoryReservations/etc/di.xml
  app/code/Magento/InventorySales/Model/GetAssignedSalesChannelsForStockCache.php
  app/code/Magento/InventorySales/Model/GetStockBySalesChannelCache.php
  app/code/Magento/InventorySales/etc/di.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/etc/di.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/etc/module.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/registration.php
Labels: Progress: approved

#2661 "Pick in Store" button always visible on checkout page...
  app/code/Magento/InventoryInStorePickupFrontend/Block/Checkout/LayoutProcessor.php
  app/code/Magento/InventoryInStorePickupFrontend/Model/Validator/IsStorePickUpAvailableForWebsiteValidator.php
  app/code/Magento/InventoryInStorePickupFrontend/composer.json
  app/code/Magento/InventoryInStorePickupFrontend/etc/frontend/di.xml
  app/code/Magento/InventoryInStorePickupFrontend/view/frontend/web/js/view/store-pickup.js
  app/code/Magento/InventoryInStorePickupShipping/Model/Carrier/Command/GetFreePackages.php
  app/code/Magento/InventoryInStorePickupShippingAdminUi/etc/adminhtml/system.xml
  app/code/Magento/InventoryInStorePickupShippingApi/etc/config.xml
Labels: Progress: review, QA Passed, Store Pickup

#2692 Cache IsProductAssignedToStock service to improve cart performance
  app/code/Magento/Inventory/Plugin/Inventory/Model/ResourceModel/IsProductAssignedToStockCache.php
  app/code/Magento/Inventory/etc/di.xml
  dev/tests/integration/_files/Magento/TestModuleInventoryStateCache/etc/di.xml
Labels: Award: bug fix, Award: special achievement, Progress: approved

#2706 The Pick in Store doesn't appear in search as suggestion while typing the name, until the full name is given
  app/code/Magento/InventoryCatalogAdminUi/Test/Mftf/Test/AdminCreateOrderWithSimpleProductInSingleStockModeWithBackordersTest.xml
  app/code/Magento/InventoryDistanceBasedSourceSelection/Model/ResourceModel/GetGeoNameDataByAddress.php
Labels: Progress: approved, QA Passed, Store Pickup

#2682 MSI-2672: "Create shipment' option should be removed from 'New invoice' page for Store pickup orders.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmCustomStockTestTwoItemsDeduction.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmSimpleProductCustomStockTest.xml
  app/code/Magento/InventoryInStorePickupAdminUi/Plugin/Sales/Block/Adminhtml/Order/Invoice/Create/ProcessCreateShipment.php
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/di.xml
Labels: Progress: approved, QA Passed, Store Pickup

#2701 Make-telephone-number-required-for-in-store-pickup.-required-for-in-store-pickup.
  app/code/Magento/InventoryInStorePickup/Model/Source/Validator/PhoneValidator.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
  app/code/Magento/InventoryInStorePickupQuote/Model/ToQuoteAddress.php
  app/code/Magento/InventoryInStorePickupQuote/etc/fieldset.xml
Labels: Award: category of expertise, Partner: Vaimo, Progress: approved, QA Passed, Store Pickup, partners-contribution

#2702 Add to admin configuration option for selecting Pickup notification email
  app/code/Magento/InventoryInStorePickup/Model/Order/AddCommentToOrder.php
  app/code/Magento/InventoryInStorePickup/Model/Order/Email/Container/ReadyForPickupIdentity.php
  app/code/Magento/InventoryInStorePickup/Model/Order/Email/ReadyForPickupSender.php
  app/code/Magento/InventoryInStorePickup/etc/config.xml
  app/code/Magento/InventoryInStorePickup/etc/email_templates.xml
  app/code/Magento/InventoryInStorePickup/view/frontend/email/order_ready_for_pickup.html
  app/code/Magento/InventoryInStorePickupAdminUi/Controller/Adminhtml/Order/NotifyPickup.php
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/system.xml
Labels: Progress: approved, QA Passed, Store Pickup

#2606 Place In-Store Pickup Order with Webapi tests coverage #2586
  app/code/Magento/InventoryInStorePickup/Test/Api/OrderCreateTest.php
  app/code/Magento/InventoryInStorePickup/Test/Api/OrderPlacementBase.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website_customer.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website_customer_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website_guest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website_guest_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_multiple_quotes_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_multiple_quotes_on_eu_website_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/inventory_geoname.php
  app/code/Magento/InventoryInStorePickup/Test/_files/inventory_geoname_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/pickup_location_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_multiple_orders_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_multiple_orders_on_eu_website_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/set_order_pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/set_orders_pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_addresses.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_items.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_items_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_pickup_location_attributes.php
  dev/tests/api-functional/_files/Magento/TestModuleInventoryStateCache/etc/di.xml
  dev/tests/api-functional/_files/Magento/TestModuleInventoryStateCache/etc/module.xml
  dev/tests/api-functional/_files/Magento/TestModuleInventoryStateCache/registration.php
Labels: Partner: ISM eCompany, Progress: approved, Store Pickup, partners-contribution

#2711 Revert "magento/inventory#2705: Remove integration tests to avoid mem…
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/InventorySourceExtensionTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/OrderExtensionTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocationTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocations/CombinedTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocations/DistanceFilterOfflineTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocations/FilterSetTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocations/GeneralTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/IsOrderReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/NotifyOrderIsReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/SearchRequestBuilderTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/SourceSelection/GetSourceItemQtyAvailableServiceTest.php
  app/code/Magento/InventoryInStorePickupMultishipping/Test/Integration/Carrier/InStorePickupWithMultishippingTest.php
  app/code/Magento/InventoryInStorePickupShipping/Test/Integration/Carrier/InStorePickupTest.php
Labels: Store Pickup, needs update

#2721 MC-23216: Unable to create Credit Memo
  app/code/Magento/InventorySourceSelectionApi/Model/Algorithms/Result/GetDefaultSortedSourcesResult.php
  app/code/Magento/InventorySourceSelectionApi/Test/Integration/GetDefaultSortedSourcesResultTest.php
Labels: Progress: approved

#2728 [Extracted] Bulk operations for In-Store Pickup interfaces
  InventoryInStorePickupSales/Model/NotifyOrderIsReadyForPickup.php
  InventoryInStorePickupSales/Model/NotifyOrdersAreReadyForPickup.php
  InventoryInStorePickupSales/Model/Order/CreateShippingArguments.php
  InventoryInStorePickupSales/Model/Result.php
  InventoryInStorePickupSales/Test/Integration/NotifyOrdersAreReadyForPickupTest.php
  InventoryInStorePickupSales/etc/di.xml
  InventoryInStorePickupSalesAdminUi/Controller/Adminhtml/Order/NotifyPickup.php
  InventoryInStorePickupSalesApi/Api/Data/ResultInterface.php
  InventoryInStorePickupSalesApi/Api/NotifyOrdersAreReadyForPickupInterface.php
  InventoryInStorePickupSalesApi/Model/NotifyOrderIsReadyForPickupInterface.php
Labels: Store Pickup

#2713 MSI-2644: Configurable products go Out of Stock while simples are available.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockInConfigurationTurnedOffForDownloadableProductTest.xml
  app/code/Magento/InventoryConfigurableProduct/Plugin/CatalogInventory/Observer/ParentItemProcessor/AdaptParentItemProcessorPlugin.php
  app/code/Magento/InventoryConfigurableProduct/etc/di.xml
Labels: Progress: approved, QA Passed

#2718 Two "The requested qty is not available" error message appear if try to Submit an order for unavailable quantity(From Admin). The error message doesn't disappear until the web page is refreshed
  app/code/Magento/InventorySales/Plugin/Sales/Block/Order/Create/Messages/ProcessMessagesPlugin.php
  app/code/Magento/InventorySales/etc/adminhtml/di.xml
Labels: Progress: approved, QA Passed
