Repository magento/inventory, pull requests merged in 2019-05, with the labels that each got.

#2225 [store pickup] fixed fax getter
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
Labels: Store Pickup

#2233 MSI SSA get source item qty available extension point
  app/code/Magento/InventorySourceSelectionApi/Model/Algorithms/Result/GetDefaultSortedSourcesResult.php
  app/code/Magento/InventorySourceSelectionApi/Model/GetSourceItemQtyAvailableInterface.php
  app/code/Magento/InventorySourceSelectionApi/Model/GetSourceItemQtyAvailableService.php
  app/code/Magento/InventorySourceSelectionApi/etc/di.xml
Labels: Partner: ISM eCompany, partners-contribution

#2230 [store pickup] just code clean up
  app/code/Magento/InventoryInStorePickup/Model/Order/Email/Container/ReadyForPickupIdentity.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/Sales/Order/GetPickupLocationForOrderPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/Sales/Order/SavePickupLocationForOrderPlugin.php
  app/code/Magento/InventoryInStorePickupApi/Api/Data/PickupLocationInterface.php
Labels: Store Pickup

#2263 MSI-2062: Inventory Stock Export. Fix table name used without resource connection getTableName
  app/code/Magento/InventoryExportStock/Model/ResourceModel/StockIndexDumpProcessor.php
Labels: Partner: TechDivision, QA Passed, partners-contribution

#2258 Fix stock status in Magento develop mode
  app/code/Magento/InventoryCatalogAdminUi/view/adminhtml/web/js/product/form/stock-status.js
Labels: QA Passed

#2214 MSI-2185 Improve GetNearbySourcesByPostcode API.
  app/code/Magento/InventoryInStorePickup/Model/Address.php
  app/code/Magento/InventoryInStorePickup/Model/Convert/AddressToSourceSelectionAddress.php
  app/code/Magento/InventoryInStorePickup/Model/DistanceProvider/Offline/GetNearbySourcesByPostcode.php
  app/code/Magento/InventoryInStorePickup/Model/GetNearbyPickupLocations.php
  app/code/Magento/InventoryInStorePickup/Model/GetPickupLocationsAssignedToStockOrderedByPriority.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/CreateFromSource.php
  app/code/Magento/InventoryInStorePickup/Model/ResourceModel/Source/GetDistanceOrderedSourceCodes.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/DistanceProvider/Offline/GetNearbySourcesByPostcodeTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetNearbyPickupLocationsOfflineTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocationsAssignedToStockOrderedByPriorityTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_pickup_location_attributes.php
  app/code/Magento/InventoryInStorePickup/composer.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/etc/frontend/di.xml
  app/code/Magento/InventoryInStorePickup/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/Api/Data/AddressInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbyPickupLocationsInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbySourcesByPostcodeInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetPickupLocationsAssignedToStockOrderedByPriorityInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/GetNearbySourcesByPostcode.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper.php
  app/code/Magento/InventoryInStorePickupApi/Model/Mapper/CreateFromSourceInterface.php
  app/code/Magento/InventoryInStorePickupApi/composer.json
  app/code/Magento/InventoryInStorePickupApi/etc/acl.xml
  app/code/Magento/InventoryInStorePickupApi/etc/di.xml
  app/code/Magento/InventoryInStorePickupApi/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/etc/webapi.xml
  composer.lock
Labels: Award: special achievement, Partner: ISM eCompany, Store Pickup, partners-contribution

#2237 Msi 2032 store pickup orders race condition reserve source items qty
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetActiveStorePickupOrdersBySource.php
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetOrderItemsByOrdersListAndSku.php
  app/code/Magento/InventoryInStorePickup/Model/SourceSelection/GetSourceItemQtyAvailableService.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/SourceSelection/GetSourceItemQtyAvailableServiceTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_multiple_quotes_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_multiple_quotes_on_eu_website_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/mark_sources_as_pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_multiple_orders_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_multiple_orders_on_eu_website_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/set_order_pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/set_orders_pickup_location.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_items.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_items_rollback.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
Labels: Partner: ISM eCompany, Store Pickup, partners-contribution

#2223 Pickup notification creates shipment for default source only #2222.
  app/code/Magento/InventoryInStorePickup/Model/NotifyOrderIsReadyForPickup.php
  app/code/Magento/InventoryInStorePickup/Model/Order/IsFulfillable.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/IsOrderReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/NotifyOrderIsReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickupApi/Api/NotifyOrderIsReadyForPickupInterface.php
Labels: Partner: ISM eCompany, Store Pickup, partners-contribution

#2262 InventoryExport APIs do not correctly support sales channels
  app/code/Magento/InventoryExportStock/Model/ExportStockIndexData.php
  app/code/Magento/InventoryExportStock/Model/ExportStockSalableQty.php
  app/code/Magento/InventoryExportStock/etc/di.xml
  app/code/Magento/InventoryExportStockApi/Api/ExportStockIndexDataInterface.php
  app/code/Magento/InventoryExportStockApi/Api/ExportStockSalableQtyInterface.php
  app/code/Magento/InventoryExportStockApi/Test/Api/ExportStockIndexDataTest.php
  app/code/Magento/InventoryExportStockApi/Test/Api/ExportStockSalableQtyTest.php
  app/code/Magento/InventoryExportStockApi/composer.json
  app/code/Magento/InventoryExportStockApi/etc/webapi.xml
Labels: Imagine2019, Partner: Strix, QA Passed, partners-contribution

#2236 Msi 1041
  app/code/Magento/Inventory/Model/ResourceModel/Source/Collection.php
  app/code/Magento/InventoryAdminUi/Controller/Adminhtml/Source/MassDisable.php
  app/code/Magento/InventoryAdminUi/Controller/Adminhtml/Source/MassEnable.php
  app/code/Magento/InventoryAdminUi/composer.json
  app/code/Magento/InventoryAdminUi/view/adminhtml/ui_component/inventory_source_listing.xml
Labels: Partner: Aligent Consulting, QA Passed, partners-contribution
