Repository magento/inventory, pull requests merged in 2019-03, with the labels that each got.

#2074 Msi 2064 salable qty integration test
  app/code/Magento/InventoryApi/Test/_files/products.php
  app/code/Magento/InventoryApi/Test/_files/source_items.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Helper/Stock/AddInStockFilterToCollectionOnDefaultStockTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Helper/Stock/AddInStockFilterToCollectionTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddIsInStockFilterToCollectionOnDefaultStockTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddIsInStockFilterToCollectionTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddStockDataToCollectionOnDefaultStockTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddStockDataToCollectionTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddStockStatusToSelectOnDefaultStockTest.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddStockStatusToSelectTest.php
  app/code/Magento/InventoryCatalog/Test/_files/source_items_on_default_source.php
  app/code/Magento/InventoryCatalog/Test/_files/source_items_on_default_source_rollback.php
  app/code/Magento/InventoryCatalogSearch/Test/Integration/Model/Adapter/Mysql/Aggregation/DataProvider/ApplyStockConditionToSelectTest.php
  app/code/Magento/InventoryCatalogSearch/Test/Integration/Model/Adapter/Mysql/Aggregation/DataProvider/ApplyStockConditionToSelectWithDefaultStockTest.php
  app/code/Magento/InventoryCatalogSearch/Test/Integration/Model/Search/FilterMapper/TermDropdownStrategy/ApplyStockConditionToSelectOnDefaultStockTest.php
  app/code/Magento/InventoryCatalogSearch/Test/Integration/Model/Search/FilterMapper/TermDropdownStrategy/ApplyStockConditionToSelectTest.php
  app/code/Magento/InventoryImportExport/Test/Integration/Model/Export/_files/export_filtered_by_source.csv
  app/code/Magento/InventorySales/Test/Integration/IsProductSalable/MinQtyConditionTest.php
  app/code/Magento/InventorySales/Test/Integration/Stock/GetProductSalableQtyTest.php
  dev/travis/before_script.sh
Labels: Award: special achievement

#2036 Msi 2035 storepickup
  app/code/Magento/InventoryInStorePickup/LICENSE.txt
  app/code/Magento/InventoryInStorePickup/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickup/README.md
  app/code/Magento/InventoryInStorePickup/composer.json
  app/code/Magento/InventoryInStorePickup/etc/module.xml
  app/code/Magento/InventoryInStorePickup/registration.php
  app/code/Magento/InventoryInStorePickupAdminUi/LICENSE.txt
  app/code/Magento/InventoryInStorePickupAdminUi/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupAdminUi/README.md
  app/code/Magento/InventoryInStorePickupAdminUi/composer.json
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/registration.php
  app/code/Magento/InventoryInStorePickupApi/LICENSE.txt
  app/code/Magento/InventoryInStorePickupApi/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupApi/README.md
  app/code/Magento/InventoryInStorePickupApi/composer.json
  app/code/Magento/InventoryInStorePickupApi/etc/module.xml
  app/code/Magento/InventoryInStorePickupApi/registration.php
  composer.json
  composer.lock
Labels: MLAU, Partner: Aligent Consulting, Store Pickup, partners-contribution

#2080 #2079: Sources with numeric source_code cannot be used for shipment
  app/code/Magento/InventoryShippingAdminUi/view/adminhtml/web/js/form/element/qty_to_deduct.js
Labels: QA Passed

#2037 MSI-2028: Translate "Shipping Methods" to "Delivery Methods" in admin
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/system.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/i18n/en_US.csv
Labels: MLAU, Partner: Aligent Consulting, Ready for QA, Store Pickup, partners-contribution

#2038 Msi 2006 store by distance
  app/code/Magento/InventoryInStorePickup/Model/DistanceProvider/Offline/GetNearbySourcesByPostcode.php
  app/code/Magento/InventoryInStorePickup/composer.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbySourcesByPostcodeInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/GetNearbySourcesByPostcode.php
  app/code/Magento/InventoryInStorePickupApi/composer.json
  app/code/Magento/InventoryInStorePickupApi/etc/di.xml
Labels: Award: complex, Award: special achievement, MLAU, Store Pickup

#1245 Added integration tests for placing order with grouped product
  app/code/Magento/InventoryGroupedProduct/Test/Integration/Order/PlaceOrderOnDefaultStockTest.php
  app/code/Magento/InventorySales/Test/Integration/Order/PlaceOrderOnDefaultStockTest.php
Labels: Award: test coverage

#2085 Fix a performance bottleneck bug related to full page cache, when save multiple products.
  app/code/Magento/InventoryCache/Model/FlushCacheByProductIds.php
Labels: Award: bug fix, QA Passed

#2089 REFACTOR: Get rid of unused USE sections
  app/code/Magento/InventoryApi/Test/_files/source.php
  app/code/Magento/InventoryCatalog/Plugin/InventoryApi/SetDataToLegacyCatalogInventoryAtSourceItemsSavePlugin.php
  app/code/Magento/InventoryCatalog/Plugin/InventorySalesApi/StockResolver/AdaptStockResolverToAdminWebsitePlugin.php
  app/code/Magento/InventoryCatalog/Test/Integration/CatalogInventory/Model/ResourceModel/Stock/Status/AddStockStatusToSelectTest.php
  app/code/Magento/InventoryCatalog/Test/_files/source_items_on_default_source_rollback.php
  app/code/Magento/InventoryImportExport/Model/Export/SourceItemCollectionFactory.php
  app/code/Magento/InventoryLowQuantityNotification/Model/ResourceModel/BulkConfigurationTransfer.php
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Ui/Component/Product/Form/Element/UseConfigSettings.php
  app/code/Magento/InventorySales/Test/Integration/Order/PlaceOrderOnDefaultStockTest.php
  app/code/Magento/InventorySales/Test/Integration/StockManagement/ReservationPlacingDuringRegisterProductsSaleTest.php
  app/code/Magento/InventoryShipping/Test/_files/order_configurable_product_rollback.php
  app/code/Magento/InventoryShipping/Test/_files/order_simple_product_rollback.php
  app/code/Magento/InventoryShipping/Test/_files/order_virtual_products_rollback.php
  app/code/Magento/InventorySourceDeductionApi/Model/SourceDeductionService.php
Labels: Partner: Strix, partners-contribution

#2086 Add communication.xml and queue_publisher.xml to support old tipic na…
  app/code/Magento/InventoryCatalog/etc/communication.xml
  app/code/Magento/InventoryCatalog/etc/queue_publisher.xml
Labels: Award: bug fix, In 2.3-develop, Partner: Comwrap, QA Passed, partners-contribution

#2065 #2063 Fix for adding decimal orderitems
  app/code/Magento/InventorySales/Model/IsProductSalableForRequestedQtyCondition/IsSalableWithReservationsCondition.php
  app/code/Magento/InventorySales/Test/Integration/IsProductSalableForRequestedQty/IsSalableWithReservationsConditionTest.php
Labels: Partner: TechDivision, QA Passed, UA Contribution, kharkivcd19, partners-contribution

#2088 REFACTOR: Apply PHP-FIG rule
  app/code/Magento/Inventory/Model/Source.php
  app/code/Magento/InventoryCatalog/Plugin/InventoryConfigurationApi/GetStockItemConfiguration/LoadIsInStockPlugin.php
  app/code/Magento/InventoryLowQuantityNotification/Model/SourceItemConfiguration/GetDefaultValues.php
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Ui/DataProvider/Product/Form/Modifier/SourceItemConfiguration.php
  app/code/Magento/InventorySales/Model/CheckItemsQuantity.php
  app/code/Magento/InventorySales/Model/GetAssignedSalesChannelsForStock.php
  app/code/Magento/InventorySales/Model/IsProductSalableCondition/IsProductSalableConditionChain.php
  app/code/Magento/InventorySales/Model/IsProductSalableForRequestedQtyCondition/IsCorrectQtyCondition.php
  app/code/Magento/InventorySales/Model/IsProductSalableForRequestedQtyCondition/IsProductSalableForRequestedQtyConditionChain.php
  app/code/Magento/InventorySales/Plugin/Sales/OrderManagement/AppendReservationsAfterOrderPlacementPlugin.php
  app/code/Magento/InventoryShipping/Model/InventoryRequestFromOrderFactory.php
  app/code/Magento/InventorySourceSelectionApi/Api/Data/SourceSelectionResultInterface.php
Labels: Partner: Strix, partners-contribution

#2095 #1587: MSI fix intigration test Reservation Placing
  app/code/Magento/InventorySales/Test/Integration/StockManagement/ReservationPlacingDuringRegisterProductsSaleTest.php
Labels: Award: test coverage, Partner: TechDivision, partners-contribution

#2100 Store pickup postcodes search: check if source is enabled
  app/code/Magento/InventoryInStorePickup/Model/DistanceProvider/Offline/GetNearbySourcesByPostcode.php
Labels: Partner: ISM eCompany, Store Pickup, partners-contribution

#2103 Remove inappropriate dependency from MFTF tests
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/MsiCustomerData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithGroupedProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderCreatedForGuestCustomerWithConfigurableProductWithDropDownAttributeViaTheAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderCreatedWithConfigurableProductWithSwatchAttributeViaTheAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderCreatedWithConfigurableProductWithTextAttributeViaTheAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderCreatedWithSimpleProductViaTheAdminTest.xml
Labels: MFTF (Functional Test Coverage)

#2082 Msi 2030 add ability to mark orders placed with store pickup
  app/code/Magento/InventoryInStorePickup/Model/ResourceModel/OrderPickupLocation/GetPickupLocationByOrderId.php
  app/code/Magento/InventoryInStorePickup/Model/ResourceModel/OrderPickupLocation/SaveOrderPickupLocation.php
  app/code/Magento/InventoryInStorePickup/Plugin/Sales/Order/GetPickupLocationForOrderPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/Sales/Order/SavePickupLocationForOrderPlugin.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocationOrderTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website_rollback.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order.php
  app/code/Magento/InventoryInStorePickup/Test/_files/place_order_rollback.php
  app/code/Magento/InventoryInStorePickup/composer.json
  app/code/Magento/InventoryInStorePickup/etc/db_schema.xml
  app/code/Magento/InventoryInStorePickup/etc/db_schema_whitelist.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/etc/extension_attributes.xml
  app/code/Magento/InventoryInStorePickup/etc/module.xml
Labels: Award: special achievement, Partner: ISM eCompany, Store Pickup, partners-contribution

#2047 Check product saleable quantity before showing "only X left" message
  app/code/Magento/InventorySalesFrontendUi/Plugin/Block/Stockqty/AbstractStockqtyPlugin.php
Labels: QA Passed

#2104 Msi 2099 customize core order repository get list
  app/code/Magento/InventoryInStorePickupOrderExtension/LICENSE.txt
  app/code/Magento/InventoryInStorePickupOrderExtension/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupOrderExtension/Model/OrderRepository.php
  app/code/Magento/InventoryInStorePickupOrderExtension/README.md
  app/code/Magento/InventoryInStorePickupOrderExtension/composer.json
  app/code/Magento/InventoryInStorePickupOrderExtension/etc/di.xml
  app/code/Magento/InventoryInStorePickupOrderExtension/etc/module.xml
  app/code/Magento/InventoryInStorePickupOrderExtension/registration.php
  composer.json
  composer.lock
  dev/tests/api-functional/_files/Magento/TestModuleJoinDirectives/etc/extension_attributes.xml
  dev/tests/api-functional/testsuite/Magento/Webapi/JoinDirectivesTest.php
Labels: Award: special achievement, Partner: ISM eCompany, Store Pickup, partners-contribution

#2092 Get rid of errors when running unit tests with Composer-based installation of Magento
  app/code/Magento/Inventory/Test/Unit/Model/Source/Validator/CodeValidatorTest.php
  app/code/Magento/InventoryImportExport/Test/Unit/Model/ValidatorChainTest.php
  app/code/Magento/InventoryReservations/Test/Unit/Model/ReservationBuilderTest.php
Labels: kharkivcd19

#2044 MSI-2031 in-store pickup attribute
  app/code/Magento/InventoryInStorePickup/Observer/Source/PopulateWithInStorePickupObserver.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetListPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/LoadInStorePickupOnGetPlugin.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/SaveInStorePickupPlugin.php
  app/code/Magento/InventoryInStorePickup/etc/adminhtml/events.xml
  app/code/Magento/InventoryInStorePickup/etc/db_schema.xml
  app/code/Magento/InventoryInStorePickup/etc/db_schema_whitelist.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/etc/extension_attributes.xml
  app/code/Magento/InventoryInStorePickup/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/Plugin/Ui/DataProvider/AddInStorePickupToDataProvider.php
  app/code/Magento/InventoryInStorePickupAdminUi/Ui/Component/Listing/Column/InStorePickup.php
  app/code/Magento/InventoryInStorePickupAdminUi/composer.json
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/di.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_listing.xml
  app/code/Magento/InventoryInStorePickupApi/Api/Data/InStorePickupInterface.php
Labels: MLAU, Partner: Aligent Consulting, Store Pickup, partners-contribution

#2122 Refactor dependency on a less generic type of OrderRepositoryInterface
  app/code/Magento/InventoryShippingAdminUi/Observer/NewShipmentLoadBefore.php
  app/code/Magento/InventoryShippingAdminUi/Ui/DataProvider/SourceSelectionDataProvider.php
Labels: Event: StrixCD
