Repository magento/inventory, pull requests merged in 2019-07, with the labels that each got.

#2378 Source selection algorithms automation.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/MsiSourceData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminSourceSelectionFormSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminSourceSelectionAlgorithmSourcePriorityWithSimpleProductOutOfStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmCustomStockTestTwoItemsDeduction.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmSimpleProductCustomStockNotSupportedCountryTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmSimpleProductCustomStockTest.xml
Labels: MFTF (Functional Test Coverage)

#2336 MSI-2210: Price Indexer fails with large catalogs
  app/code/Magento/InventoryCatalog/Plugin/CatalogInventory/Model/Indexer/ModifySelectInProductPriceIndexFilter.php
Labels: Award: special achievement, Kharkiv2019, Partner: TechDivision, Ready for QA, partners-contribution

#2350 Avoid querying inventory default stock view in storefront operations
  app/code/Magento/InventoryIndexer/Model/ResourceModel/GetStockItemData.php
Labels: Ready for QA

#2373 Grouped product single stock tests.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCacheValidationWhenGroupedProductIsSoldOutOnSingleStockModeTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithGroupedProductSingleStockModeTest.xml
Labels: MFTF (Functional Test Coverage)

#2379 MFTF - Invoice and Credit Memo with Grouped product single stock tests.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateFullInvoiceForOrderWithGroupedProductInSingleStockModeTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreditMemoCreatedWithFullRefundForOrderWithGroupedProductOnSingleStockModeAfterFullInvoice.xml
Labels: MFTF (Functional Test Coverage)

#2193 MSI-2188: Can not add products manually to configurable
  app/code/Magento/InventoryCatalogAdminUi/Ui/DataProvider/Product/Listing/Modifier/QuantityPerSource.php
  app/code/Magento/InventoryConfigurableProductAdminUi/view/adminhtml/requirejs-config.js
  app/code/Magento/InventoryConfigurableProductAdminUi/view/adminhtml/web/js/dynamic-rows-configurable-mixin.js
Labels: QA Passed

#2357 MSI-2354: Source Region does not set
  app/code/Magento/InventoryAdminUi/Model/Source/SourceRegionDataProcessor.php
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/MsiSourceData.xml
  app/code/Magento/InventoryAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
  app/code/Magento/InventoryAdminUi/view/adminhtml/web/js/form/element/region.js
Labels: Award: bug fix, Kharkiv2019, Partner: TechDivision, QA Passed, partners-contribution

#2309 Msi 2286 in store pickup checkout implementation on weabpi level
  app/code/Magento/InventoryInStorePickup/Model/GetPickupLocation.php
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/OrderExtensionTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetPickupLocationTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/IsOrderReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/NotifyOrderIsReadyForPickupTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/SourceSelection/GetSourceItemQtyAvailableServiceTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/add_products_from_eu_stock_to_cart.php
  app/code/Magento/InventoryInStorePickup/Test/_files/create_in_store_pickup_quote_on_eu_website.php
  app/code/Magento/InventoryInStorePickup/Test/_files/source_addresses.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupApi/Api/GetPickupLocationInterface.php
  app/code/Magento/InventoryInStorePickupApi/etc/webapi.xml
  app/code/Magento/InventoryInStorePickupQuote/LICENSE.txt
  app/code/Magento/InventoryInStorePickupQuote/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupQuote/Model/ExtractPickupLocationShippingAddressData.php
  app/code/Magento/InventoryInStorePickupQuote/Model/GetWebsiteCodeByStoreId.php
  app/code/Magento/InventoryInStorePickupQuote/Model/IsPickupLocationShippingAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Model/Quote/ValidationRule/InStorePickupQuoteValidationRule.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ResourceModel/DeleteQuoteAddressPickupLocation.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ResourceModel/GetPickupLocationCodeByQuoteAddressId.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ResourceModel/SaveQuoteAddressPickupLocation.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ToQuoteAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/Address/LoadPickupLocationForQuoteAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/Address/ManageAssignmentOfPickupLocationToQuoteAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/AddressCollection/GetPickupLocationInformationPlugin.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/DoNotUseBillingAddressForShipping.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/PassPickupLocationToOrder.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/ReplaceShippingAddressForShippingAddressManagement.php
  app/code/Magento/InventoryInStorePickupQuote/README.md
  app/code/Magento/InventoryInStorePickupQuote/composer.json
  app/code/Magento/InventoryInStorePickupQuote/etc/adminhtml/di.xml
  app/code/Magento/InventoryInStorePickupQuote/etc/db_schema.xml
  app/code/Magento/InventoryInStorePickupQuote/etc/db_schema_whitelist.json
  app/code/Magento/InventoryInStorePickupQuote/etc/di.xml
  app/code/Magento/InventoryInStorePickupQuote/etc/extension_attributes.xml
  app/code/Magento/InventoryInStorePickupQuote/etc/fieldset.xml
  app/code/Magento/InventoryInStorePickupQuote/etc/module.xml
  app/code/Magento/InventoryInStorePickupQuote/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupQuote/registration.php
  app/code/Magento/InventoryInStorePickupShipping/Model/IsInStorePickupDeliveryCart.php
  app/code/Magento/InventoryInStorePickupShipping/Test/Integration/Carrier/InStorePickupTest.php
  app/code/Magento/InventoryInStorePickupShipping/etc/di.xml
  app/code/Magento/InventoryInStorePickupShippingApi/Model/Carrier/InStorePickup.php
  app/code/Magento/InventoryInStorePickupShippingApi/Model/IsInStorePickupDeliveryCartInterface.php
  composer.json
  composer.lock
Labels: Partner: ISM eCompany, Progress: review, Store Pickup, partners-contribution

#2407 "Only X Left" with Out Of Stock product automation.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnAdditionalSourceAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnAdditionalSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnDefaultSourceAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnDefaultSourceTest.xml
Labels: MFTF (Functional Test Coverage)

#2403 Different Product Types Creation for Additional Website automation.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminAssignDownloadableProductToAdditionalStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminAssignSimpleProductToAdditionalStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminAssignVirtualProductToAdditionalStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateBundleProductAdditionalStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateConfigurableProductDefaultStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateGroupedProductAdditionalStockAdditionalWebsiteTest.xml
Labels: MFTF (Functional Test Coverage)

#2356 Nearby Pickup Locations Search Criteria #2332.
  app/code/Magento/InventoryInStorePickup/Model/Convert/ToSourceSelectionAddress.php
  app/code/Magento/InventoryInStorePickup/Model/GetNearbyPickupLocations.php
  app/code/Magento/InventoryInStorePickup/Model/SearchCriteria.php
  app/code/Magento/InventoryInStorePickup/Model/SearchCriteria/GetNearbyLocationsCriteria.php
  app/code/Magento/InventoryInStorePickup/Model/SearchResult.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/GetNearbyPickupLocationsOfflineTest.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupApi/Api/Data/SearchCriteria/GetNearbyLocationsCriteriaInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/Data/SearchCriteriaInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/Data/SearchResultInterface.php
  app/code/Magento/InventoryInStorePickupApi/Api/GetNearbyPickupLocationsInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/SearchCriteriaBuilder.php
Labels: Kharkiv2019, Partner: ISM eCompany, Progress: review, Store Pickup, partners-contribution

#2408 MC-17983: Magento is not validating inventory while using custom options
  app/code/Magento/InventorySales/Plugin/StockState/CheckQuoteItemQtyPlugin.php
Labels: Progress: review, QA Verified, Ready for QA

#2415 Configurable Product Automation.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductDoubleSavedOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductWithDisabledAndOutOfStockChildrenOnAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductWithDisabledChildrenOnAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductWithDisabledChildrenOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductWithOutOfStockChildrenOnAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductWithOutOfStockChildrenOnDefaultStockTest.xml
Labels: MFTF (Functional Test Coverage), Progress: approved

#2400 Correctly load order using increment_id while running reservation compensation from argument
  app/code/Magento/InventoryReservationCli/Command/Input/GetReservationFromCompensationArgument.php
Labels: Award: bug fix, Partner: H&O, Ready for QA, partners-contribution

#2433 Improve Function Tests Coverage
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminApplyUseDecimalsOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminChangeManageStockStatusOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminChangeOutOfStockThresholdOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminApplyUseDecimalsOnProductPageSimpleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateFullInvoiceForOrderWithSimpleProductOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateFullInvoiceForVirtualProductInDefaultStockMainWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithSimpleProductOnDefaultStockFromMainWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreatePartialInvoiceForOrderWithSimpleProductOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreatePartialInvoiceForVirtualProductInDefaultStockMainWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockOnConfigurationPageTurnedOffForVirtualProductTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockOnProductPageTurnedOffForVirtualProductTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminSimpleProductDisabledManageStockOnProductPageDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminSimpleProductOutOfStockThresholdAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminVirtualProductOutOfStockThresholdAdditionalStockConfigurationPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminVirtualProductOutOfStockThresholdAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/CacheValidationProductStockStatusChange.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerCreateOrderWithSimpleProductOnDefaultStockFromMainWebsiteTest.xml
  app/code/Magento/InventoryCatalogAdminUi/Test/Mftf/Section/AdminAdvancedInventorySection.xml
Labels: MFTF (Functional Test Coverage), Progress: approved
