Repository magento/inventory, pull requests merged in 2019-09, with the labels that each got.

#2477 MSI-2476: Low Stock Notification for Simple and Virtual Products automation
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationAppliedOnConfigurationPageSimpleProductCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationAppliedOnConfigurationPageSimpleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationAppliedOnConfigurationPageVirtualProductCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationAppliedOnConfigurationPageVirtualProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationSimpleProductAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationSimpleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationSimpleProductDisabledSourceCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationSimpleProductOutOfStockCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationSimpleProductOutOfStockDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationVirtualProductAdditionalStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationVirtualProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationVirtualProductDisabledSourceCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationVirtualProductOutOfStockCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LowStockNotificationVirtualProductOutOfStockDefaultStockTest.xml
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Test/Mftf/ActionGroup/AdminSearchLowStockReportActionGroup.xml
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Test/Mftf/ActionGroup/AdminVerifyLowStockProductReportActionGroup.xml
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Test/Mftf/Section/LowStockProductGridSection.xml
  app/code/Magento/InventoryLowQuantityNotificationAdminUi/Test/Mftf/Section/LowStockReportMainSection.xml
Labels: MFTF

#2493 Fix for mftf tests with downloadable product
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCacheValidationWhenDownloadableProductIsSoldOutOnMultipleStockModeTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCacheValidationWhenDownloadableProductIsSoldOutOnSingleStockModeTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateDownloadableProductOnSingleStockModeTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateDownloadableProductWithCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateDownloadableProductWithDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/GuestCustomerOrderedDownloadableProductOnCustomStockFromHomepageTest.xml
Labels: MFTF

#2535 Hotfix static test relying on branch naming containing versions
  dev/tests/static/testsuite/Magento/Test/Legacy/ModuleDBChangeTest.php
Labels: Store Pickup

#2529 Problem get information with webapi V1/inventory/stock-source-links , when use custom rules for customer
  app/code/Magento/InventoryApi/etc/acl.xml
Labels: Partner: Webjump, Progress: review, QA Passed, partners-contribution

#2528 MC-19640: Multi-Source Inventory shows As Low as $0 for configurable products in frontend
  app/code/Magento/InventoryConfigurableProduct/Pricing/Price/LowestPriceOptionsProvider/StockStatusBaseSelectProcessor.php
  app/code/Magento/InventoryConfigurableProduct/Test/Integration/Price/LowestPriceOptionProviderTest.php
  app/code/Magento/InventoryConfigurableProduct/Test/_files/product_configurable_in_us_stock.php
  app/code/Magento/InventoryConfigurableProduct/Test/_files/product_configurable_in_us_stock_rollback.php
  app/code/Magento/InventoryConfigurableProduct/etc/di.xml
Labels: Auto-Tests: Covered, Progress: review, QA Passed

#2538 Code clean up.
  app/code/Magento/InventoryInStorePickup/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/system.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupApi/etc/module.xml
  app/code/Magento/InventoryInStorePickupShipping/etc/module.xml
  app/code/Magento/InventoryInStorePickupShippingAdminUi/etc/adminhtml/system.xml
  app/code/Magento/InventoryInStorePickupShippingAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupShippingAdminUi/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupShippingApi/Api/Data/ShippingPriceRequestInterface.php
  app/code/Magento/InventoryInStorePickupShippingApi/etc/module.xml
Labels: Partner: ISM eCompany, Progress: approved, Store Pickup, partners-contribution

#2533 Msi 2492 parse pickup location description
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/PreProcessor/FrontendDescription.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/Test/_files/pickup_location.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
Labels: Partner: ISM eCompany, Progress: approved, Store Pickup, partners-contribution

#2540 Inventory Reservations List Inconsistencies With Configurable Product automation.
  app/code/Magento/InventoryConfigurableProduct/Test/_files/product_configurable.php
  app/code/Magento/InventoryReservationCli/Test/Integration/Model/AppendReservationsTest.php
  app/code/Magento/InventoryReservationCli/Test/Integration/Model/GetSalableQuantityInconsistenciesTest.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/broken_reservation.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/create_incomplete_order_with_reservation.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/create_incomplete_order_without_reservation.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/delete_reservations.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/incomplete_order_without_reservation_configurable_product.php
  app/code/Magento/InventoryReservationCli/Test/Integration/_files/order_with_reservation.php
Labels: Progress: review

#2514 MSI-2513-Refactor-usage-of-Magento-Framework-DataObject-Copy.
  app/code/Magento/InventoryInStorePickupQuote/Model/ExtractPickupLocationShippingAddressData.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ExtractQuoteAddressShippingAddressData.php
  app/code/Magento/InventoryInStorePickupQuote/Model/IsPickupLocationShippingAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Model/ToQuoteAddress.php
  app/code/Magento/InventoryInStorePickupQuote/Plugin/Quote/ReplaceShippingAddressForShippingAddressManagement.php
  app/code/Magento/InventoryInStorePickupQuote/etc/fieldset.xml
Labels: Partner: ISM eCompany, Progress: review, Store Pickup, partners-contribution

#2524 Increase MFTF coverage.
  app/code/Magento/Inventory/Test/Mftf/Test/SkippedTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminApplyMinAndMaxQtyOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminEnableBackordersOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminEnableQtyIncrementsOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AddSimpleProductWithCustomOptionsToCartDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminApplyOnlyXLeftThresholdWithNegativeOutOfStockThresholdSimpleProductOnDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminBundleProductDisabledManageStockOnProductPageCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminBundleProductDisabledManageStockOnProductPageDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCacheValidationGroupedProductSoldOutCustomStocks.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCancelOrderWithBundleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCancelOrderWithVirtualProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateBundleProductAdditionalStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateBundleProductDefaultStockAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoAutoReturnToStockVirtualProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundGroupedProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundGroupedProductDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundPartialInvoiceVirtualProductDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundVirtualProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoTotalRefundBundleProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoTotalRefundGroupedProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoTotalRefundGroupedProductDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateCreditMemoTotalRefundVirtualProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateFullInvoiceForOrderWithDownloadableProductOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateGroupedProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithGroupedProductCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithGroupedProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreatePartialInvoiceGroupedProductCustomStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreatePartialInvoiceGroupedProductDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminDisableManageStockGroupedProductProductPageDefaultStock.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminEnableBackordersVirtualProductDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminGroupedProductAdditionalStockDisableMangeStockOnProductPage.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockOnConfigurationPageTurnedOffForVirtualProductTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminReorderOfTheOrderWithSimpleProductOnTestStockFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminReorderSimpleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserApplyMinMaxQtyForSimpleProductOnTestSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserEnableQtyIncrementsForSimpleProductOnTestSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerOrderedGroupedProductWithChildProductsAssignedToDefaultStockFromHomepageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerReorderSimpleProductOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerReorderSimpleProductOnTestStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OrderVirtualProductOnDefaultStockCustomWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/RegisteredCustomerReorderGroupedProductCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/RegisteredCustomerReorderGroupedProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/ReorderButtonSimpleProductOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/ReorderButtonSimpleProductOnTestStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/ReorderButtonVirtualProductOnDefaultStockTest.xml
Labels: MFTF, Progress: review

#2544 MFTF Credit memo for orders with simple product
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreditMemoCreatedWithPartialRefundWithSimpleProductOnCustomStockAfterPartialInvoiceAndPartialShipmentTest.xml
Labels: MFTF, Progress: approved

#2550 MSI-2549-Disable-possibility-to-place-In-Store-Pickup-orders-for-default-source.
  app/code/Magento/InventoryInStorePickup/Model/Source/Validator/DefaultSourceUseForPickupLocationValidator.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/InventorySourceExtensionTest.php
  app/code/Magento/InventoryInStorePickup/composer.json
  app/code/Magento/InventoryInStorePickup/etc/di.xml
  app/code/Magento/InventoryInStorePickup/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupAdminUi/Plugin/InventoryAdminUi/DataProvider/PreventUsingDefaultSourceAsPickupLocationPlugin.php
  app/code/Magento/InventoryInStorePickupAdminUi/Plugin/Ui/DataProvider/ConvertBooleanToStringPlugin.php
  app/code/Magento/InventoryInStorePickupAdminUi/composer.json
  app/code/Magento/InventoryInStorePickupAdminUi/etc/adminhtml/di.xml
  app/code/Magento/InventoryInStorePickupAdminUi/etc/module.xml
  app/code/Magento/InventoryInStorePickupAdminUi/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupAdminUi/view/adminhtml/ui_component/inventory_source_form.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: test coverage, Partner: ISM eCompany, Store Pickup, partners-contribution

#2483 magento/inventory#2348: [Store Pickup] Name in the FrontendName as null
  app/code/Magento/InventoryInStorePickup/Model/PickupLocation/Mapper/PreProcessor/FrontendName.php
  app/code/Magento/InventoryInStorePickup/Plugin/InventoryApi/SourceRepository/SaveInStorePickupPlugin.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/Extension/InventorySourceExtensionTest.php
  app/code/Magento/InventoryInStorePickup/Test/Integration/PickupLocation/MapperTest.php
  app/code/Magento/InventoryInStorePickup/etc/di.xml
Labels: Award: bug fix, Award: category of expertise, Partner: ISM eCompany, Progress: approved, Store Pickup, partners-contribution

#2556 MC-19743: Cannot add more than 20 sources to my stock in MSI
  app/code/Magento/InventoryAdminUi/Model/Stock/StockSaveProcessor.php
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/MsiSourceData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminAssignMultipleSourcesToStockTest.xml
Labels: Auto-Tests: Covered, QA Passed

#2559 Increase MFTF tests coverage
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminAddToOrderConfigurableProductWithTwoOptionsActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/StorefrontAddConfigurableProductWithTwoAttributesToTheCartActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnDefaultStockFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnTestStockFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OfflineDistanceBasedSelectionAlgorithmCustomStockTestTwoItemsDeduction.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/SimpleProductWithZeroQtyAndInStockStatusOnTestSourceVisibleOnHomePageIfBackordersEnabledOnConfigurationPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontButtonReorderForTheOrderWithConfigurableProductOnDefaultStockInCustomerCabinetOnHomepageIsNotPresentIfProductSoldOutTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontButtonReorderForTheOrderWithConfigurableProductOnTestStockInCustomerCabinetOnHomepageIsNotPresentIfProductSoldOutTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnDefaultStockFromHomepageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnTestStockFromHomepageTest.xml
Labels: MFTF

#2521 Release Scope 1.1.3 MFTF tests stabilization.
  app/code/Magento/InventoryAdminUi/Test/Mftf/Suite/msi-suite.xml
  app/code/Magento/InventoryAdvancedCheckout/Test/Mftf/Test/AddBundleDynamicFromCustomStockBySkuFromCustomerAccountTest.xml
  app/code/Magento/InventoryAdvancedCheckout/Test/Mftf/Test/AddConfigurableFromCustomStockBySkuFromCustomerAccountTest.xml
  app/code/Magento/InventoryAdvancedCheckout/Test/Mftf/Test/AddSimpleFromCustomStockBySkuFromCustomerAccountTest.xml
  app/code/Magento/InventoryAdvancedCheckout/Test/Mftf/Test/AddSimpleOutOfStockProductBySkuFromCustomerAccountAdditionalStockTest.xml
  app/code/Magento/InventoryAdvancedCheckout/Test/Mftf/Test/CreateOrderWithConfigurableProductCustomStockCustomWebsiteBySkuFromCustomerAccountTest.xml
  app/code/Magento/InventoryRequisitionList/Test/Mftf/Test/OrderWithMultipleConfigurableProductsAdditionalStock.xml
  app/code/Magento/InventoryRequisitionList/Test/Mftf/Test/OrderWithMultipleProductsAdditionalStock.xml
  app/code/Magento/InventoryRequisitionList/Test/Mftf/Test/StoreFrontQTYChangeCustomStockProductVariationOfConfigurableProductTest.xml
  app/code/Magento/InventoryRequisitionList/Test/Mftf/Test/StorefrontAddCustomStockProductWithFileToTheCartFromRequisitionListTest.xml
Labels: MFTF, Progress: review

#2505 #2353 Avoid using Inventory Stock Index for default stock
  app/code/Magento/InventoryCatalog/Plugin/CatalogInventory/Model/ResourceModel/Stock/Status/AdaptAddIsInStockFilterToCollectionPlugin.php
  app/code/Magento/InventoryCatalog/Plugin/CatalogInventory/Model/ResourceModel/Stock/Status/AdaptAddStockStatusToSelectPlugin.php
  app/code/Magento/InventoryCatalogSearch/Plugin/Model/Search/FilterMapper/TermDropdownStrategy/AdaptApplyStockConditionToSelectPlugin.php
  app/code/Magento/InventoryCatalogSearch/Test/Integration/Model/Search/FilterMapper/TermDropdownStrategy/ApplyStockConditionToSelectOnDefaultStockTest.php
Labels: Award: bug fix, Progress: changes requested

#2567 Increase MFTF tests coverage
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AssertAdminSalableProductQtyActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/CatalogInventoryConfigData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminConfigurableProductDoubleSavedOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockOnProductPageTurnedOffForVirtualProductTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnDefaultStockCanceledFromAdminAfterFullShipmentTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnDefaultStockCanceledFromAdminAfterPartialShipmentAndPartialInvoiceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnDefaultStockCanceledFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnTestStockCanceledFromAdminAfterFullShipmentCreatedTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnTestStockCanceledFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithTwoSimpleProductsOnTestStockCanceledFromAdminAfterPartialInvoiceAndPartialShipmentTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserCreatedOrderWithVirtualProductOnDefaultStockFromCustomWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminUserCreatedOrderWithVirtualProductOnTestStockFromCustomWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/EnableQtyIncrementsAppliedToSimpleProductOnConfigurationPageAndCheckedOnFrontendTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/LoggedInCustomerCreateOrderWithSimpleProductOnDefaultStockFromMainWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/MinAndMaxQtyInShoppingCartAppliedOnConfigurationPageToSimpleProductAndCheckedOnFrontendTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnAdditionalSourceAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnAdditionalSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnDefaultSourceAdditionalWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/OnlyXLeftThresholdForOutOfStockSimpleProductOnDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/SimpleProductWithZeroQtyAndInStockStatusOnTestSourceVisibleOnHomePageIfBackordersEnabledOnConfigurationPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontLoggedInCustomerCreateOrderWithSimpleProductOnTestStockFromCustomWebsiteTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontLoggedInCustomerOrderedSimpleProductFromTestSourceUsingMultiShipmentsToSeveralAddressesTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontLoggedInCustomerOrderedVirtualProductOnTestStockFromCustomWebsiteTest.xml
  app/code/Magento/InventoryCatalogAdminUi/Test/Mftf/Test/AdminCreateOrderWithSimpleProductFromTestSourceWithBackordersTest.xml
Labels: MFTF

#2489 MSI 2358: disable in store pickup delivery for multishipping
  app/code/Magento/InventoryInStorePickupMultishipping/LICENSE.txt
  app/code/Magento/InventoryInStorePickupMultishipping/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupMultishipping/Model/Carrier/Validation/MultiShippingValidator.php
  app/code/Magento/InventoryInStorePickupMultishipping/Plugin/Checkout/Controller/Index/Index/DisableMultishippingPlugin.php
  app/code/Magento/InventoryInStorePickupMultishipping/Plugin/Quote/RemoveInStorePickupDataInMultishippingModePlugin.php
  app/code/Magento/InventoryInStorePickupMultishipping/README.md
  app/code/Magento/InventoryInStorePickupMultishipping/Test/Integration/Carrier/InStorePickupWithMultishippingTest.php
  app/code/Magento/InventoryInStorePickupMultishipping/Test/Unit/Controller/Checkout/PluginTest.php
  app/code/Magento/InventoryInStorePickupMultishipping/composer.json
  app/code/Magento/InventoryInStorePickupMultishipping/etc/di.xml
  app/code/Magento/InventoryInStorePickupMultishipping/etc/frontend/di.xml
  app/code/Magento/InventoryInStorePickupMultishipping/etc/module.xml
  app/code/Magento/InventoryInStorePickupMultishipping/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupMultishipping/registration.php
  composer.json
  composer.lock
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Partner: ISM eCompany, Progress: dev in progress, Store Pickup, partners-contribution

#2525 Msi 2381 graph ql support for in store pickup query
  app/code/Magento/InventoryInStorePickupGraphQl/LICENSE.txt
  app/code/Magento/InventoryInStorePickupGraphQl/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Cache/Tag/Strategy/PickupLocation.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/DataProvider/PickupLocation.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/FilterArgument/PickupLocationsAttributesForAst.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/Identity.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/CurrentPage.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/Distance.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/Filter.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/PageSize.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/ResolverInterface.php
  app/code/Magento/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/Sort.php
  app/code/Magento/InventoryInStorePickupGraphQl/README.md
  app/code/Magento/InventoryInStorePickupGraphQl/Test/Api/PickupLocationsNegativeCasesTest.php
  app/code/Magento/InventoryInStorePickupGraphQl/Test/Api/PickupLocationsPositiveCasesTest.php
  app/code/Magento/InventoryInStorePickupGraphQl/composer.json
  app/code/Magento/InventoryInStorePickupGraphQl/etc/di.xml
  app/code/Magento/InventoryInStorePickupGraphQl/etc/graphql/di.xml
  app/code/Magento/InventoryInStorePickupGraphQl/etc/module.xml
  app/code/Magento/InventoryInStorePickupGraphQl/etc/schema.graphqls
  app/code/Magento/InventoryInStorePickupGraphQl/i18n/en_US.csv
  app/code/Magento/InventoryInStorePickupGraphQl/registration.php
  composer.json
  composer.lock
Labels: Partner: ISM eCompany, Progress: dev in progress, Store Pickup, partners-contribution

#2584 Increase MFTF tests coverage
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminAssignSourceToProductAndSetSourceQuantityActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminFillSourceQtyOnProductEditPageActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/CatalogInventoryData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminProductSourcesFormSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/ReorderButtonBundleProductDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/ReorderButtonDownlodableProductDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontReorderOfTheOrderWithBundleProductFromHomepageOnDefaultStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontSalableQuantityOnNonDefaultStockForVirtualProductAfterCancellationOfOrderCountedCorrectlyTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontSalableQuantityOnNonDefaultStockForVirtualProductAfterPlacingOrderCountedCorrectlyTest.xml
Labels: MFTF, Progress: review

#2571 Fixed #2518 Added possibility that a postcode is optional on loading address data
  app/code/Magento/InventorySourceSelectionApi/Model/GetInventoryRequestFromOrder.php
Labels: Award: bug fix, Partner: TechDivision, Progress: approved, QA Passed, partners-contribution

#2588 Increase MFTF tests coverage
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminChangeSourceStockStatusActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AdminFillNotifyQtyBySourceActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/ActionGroup/AssertAdminNotifyQtyActionGroup.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Data/CatalogInventoryData.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Section/AdminProductSourcesFormSection.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCustomNotifyQuantityAppliedOnProductPageToDownloadableProductOnDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCustomNotifyQuantityAppliedOnProductPageToDownloadableProductOnTestSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminManageStockOnProductPageTurnedOffForDownloadableProductInTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithGroupedProductWithChildsProductsOnTestStockCanceledFromTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOutOfStockThresholdAppliedToDownloadableProductInAdvancedInventoryOnProductPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontBackordersEnabledOnConfigurationPageAndAppliedFromHomepageToWithConfigurableProductWithDropDownAttributeAndVariablesAssignedToNonDefaultSourceTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontSalableQuantityOnNonDefaultStockForConfigurableProductWithDropDownAttributeAfterPlacingOrderCountedCorrectlyTest.xml
Labels: MFTF

#2509 Msi 2507 add support of extension attributes to search request
  app/code/Magento/InventoryInStorePickup/Model/SearchRequest.php
  app/code/Magento/InventoryInStorePickup/Model/SearchRequestBuilder.php
  app/code/Magento/InventoryInStorePickupApi/Api/Data/SearchRequestInterface.php
  app/code/Magento/InventoryInStorePickupApi/Model/SearchRequestBuilderInterface.php
  app/code/Magento/InventoryInStorePickupWebapiExtension/LICENSE.txt
  app/code/Magento/InventoryInStorePickupWebapiExtension/LICENSE_AFL.txt
  app/code/Magento/InventoryInStorePickupWebapiExtension/Model/Rest/Swagger/Generator.php
  app/code/Magento/InventoryInStorePickupWebapiExtension/README.md
  app/code/Magento/InventoryInStorePickupWebapiExtension/composer.json
  app/code/Magento/InventoryInStorePickupWebapiExtension/etc/di.xml
  app/code/Magento/InventoryInStorePickupWebapiExtension/etc/module.xml
  app/code/Magento/InventoryInStorePickupWebapiExtension/registration.php
  composer.json
  composer.lock
Labels: Partner: ISM eCompany, Progress: changes requested, Store Pickup, partners-contribution

#2575 Fixed #876 Added name to the unique field list
  app/code/Magento/Inventory/Model/ResourceModel/Stock.php
Labels: Partner: TechDivision, Progress: approved, QA Passed, partners-contribution

#2582 Unskip and fix MFTF tests
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminAddMultipleSourcesToProductTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateOrderWithSimpleProductWithNewStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminCreateSimpleProductReassignSource.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnDefaultStockCanceledFromAdminAfterFullShipmentTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnDefaultStockCanceledFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnTestStockCanceledFromAdminAfterFullShipmentCreatedTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithSimpleProductOnTestStockCanceledFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOrderWithTwoSimpleProductsOnTestStockCanceledFromAdminAfterPartialInvoiceAndPartialShipmentTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOutOfStockThresholdAppliedToSimpleInAdvancedInventoryOnProductPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminOutOfStockThresholdOnConfigurationPageTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminReorderOfTheOrderWithSimpleProductOnTestStockFromAdminTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminSelectDeselectManipulationsInManageSourceGridTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/GuestCustomerCreateOrderWithSimpleProductOnCustomStockTest.xml
  app/code/Magento/InventoryAdminUi/Test/Mftf/Test/RegisteredCustomerReorderGroupedProductDefaultStockTest.xml
Labels: MFTF, Progress: review

#2577 Store pickup get pickup location api test coverage#2264
  app/code/Magento/InventoryInStorePickup/Model/SearchRequest.php
  app/code/Magento/InventoryInStorePickup/Model/SearchRequestBuilder.php
  app/code/Magento/InventoryInStorePickupApi/Test/Api/GetPickupLocationsTest.php
Labels: Partner: ISM eCompany, Progress: changes requested, Store Pickup, partners-contribution

#2596 Fix api-functional tests
  app/code/Magento/InventoryInStorePickupQuoteGraphQl/Test/Api/Customer/PickupLocationForShippingTest.php
  app/code/Magento/InventoryInStorePickupQuoteGraphQl/Test/Api/Guest/PickupLocationForShippingTest.php
Labels: Partner: ISM eCompany, Progress: approved, Store Pickup, partners-contribution

#2576 #1720: Fix allows you to specify invalid parameters
  app/code/Magento/InventoryLowQuantityNotification/Model/ResourceModel/SourceItemConfiguration/GetData.php
  app/code/Magento/InventoryLowQuantityNotification/Model/SourceItemConfiguration/Get.php
  app/code/Magento/InventoryLowQuantityNotification/Model/SourceItemConfiguration/GetConfiguration.php
  app/code/Magento/InventoryLowQuantityNotification/Test/Integration/Model/ResourceModel/BulkConfigurationAssignTest.php
  app/code/Magento/InventoryLowQuantityNotification/Test/Integration/Model/ResourceModel/BulkConfigurationTransferTest.php
  app/code/Magento/InventoryLowQuantityNotification/Test/Integration/Model/RssFeedTest.php
  app/code/Magento/InventoryLowQuantityNotification/etc/di.xml
  app/code/Magento/InventoryLowQuantityNotificationApi/Test/Api/GetSourceItemConfigurationTest.php
  app/code/Magento/InventoryLowQuantityNotificationApi/Test/_files/source_item_configuration.php
  app/code/Magento/InventoryLowQuantityNotificationApi/Test/_files/source_item_configuration_rollback.php
Labels: Award: bug fix, Partner: TechDivision, Progress: changes requested, QA Passed, partners-contribution

#2607 magento/inventory: fix fixture declaration for get pickup locations
  app/code/Magento/InventoryInStorePickupApi/Test/Api/GetPickupLocationsTest.php
Labels: Partner: ISM eCompany, Progress: review, partners-contribution
